{% extends "base.html" %}

{% block page_heading %}Recipe List{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p><a href="{% url 'recipe-create' %}" style="font-weight: bold; padding: 5px 10px; background-color: #f0f0f0; text-decoration: none; border-radius: 5px;">➕ Create a New Recipe</a></p>
    {% endif %}

    <ul>
      {% for recipe in recipes %}
        <li>
          <a href="{% url 'recipe-detail' recipe.pk %}">{{ recipe.name }}</a>
        </li>
      {% empty %}
        <li>No recipes yet.</li>
      {% endfor %}
    </ul>
{% endblock %}